<h1 mat-dialog-title>Appointment Details</h1>
<div mat-dialog-content>
  <div class="detail-row" fxLayout="row" fxFlexAlign="start center">
    <div class="row-label" fxFlex="40%">Current Status: </div>
    <div fxFlex="60%">{{ appt?.getDisplayStatus() }}</div>
  </div>
  <div>
    <div class="row-label" fxFlex="40%">New Status: </div>
    <div fxFlex="60%">
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [formControl]="statusControl">
          <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div fxFlexFill fxLayout="row" fxFlexAlign="end center">
    <button fxFlex="none" mat-stroked-button color="accent" (click)="close()">Cancel</button>
    <div fxFlex></div>
    <button fxFlex="none" mat-stroked-button color="accent" (click)="apply()">Apply</button>
  </div>
</div>