<div class="appointment-container">
    <div [hidden]="view === 'list'" class="mat-elevation-z2">
      <app-calendar [appointments]="appointments"></app-calendar>
    </div>

    <div [hidden]="view === 'calendar'" class="mat-elevation-z2">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="none" class="input-sm">
          <mat-form-field floatLabel="never">
            <!-- <mat-label>Date</mat-label> -->
            <input matInput [formControl]="searchControl" type="search" placeholder="Search appointments" aria-label="Search appointments">
            <mat-error *ngIf="searchControl.invalid && searchControl.touched">Invalid search string</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex></div>
        <div fxFlex="none" class="buttons">
          <mat-button-toggle-group [formControl]="filterControl" multiple aria-label="Status filters">
            <mat-button-toggle [value]="apptStatuses.COMPLETED">Completed</mat-button-toggle>
            <mat-button-toggle [value]="apptStatuses.PENDING">Pending</mat-button-toggle>
            <mat-button-toggle [value]="apptStatuses.ROUTED">Routed</mat-button-toggle>
            <mat-button-toggle [value]="apptStatuses.STARTED">Started</mat-button-toggle>
            <mat-button-toggle [value]="apptStatuses.CANCELED">Canceled</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div *ngIf="!hasAppointments" class="no-appointments">No appointments found!</div>

      <table *ngIf="hasAppointments" mat-table class="all-radius table" [dataSource]="dataSource" matSort matPaginator>
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="client" class="header-cell">Client</th>
          <td mat-cell *matCellDef="let appointment" class="row-cell">{{ appointment?.client.firstName }} {{ appointment?.client.lastName }} ({{ appointment.client.type === 'RES' ? 'R' : 'C' }})</td>
        </ng-container>
        <ng-container matColumnDef="technician">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="tech" class="header-cell">Technician</th>
          <td mat-cell *matCellDef="let appointment" class="row-cell">{{ appointment.technician.firstName }} {{ appointment.technician.lastName }}</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="date" class="header-cell">Date</th>
          <td mat-cell *matCellDef="let appointment" class="row-cell">{{ appointment.date | date }}</td>
        </ng-container>
        <ng-container matColumnDef="windowLength">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Appt. Length</th>
          <td mat-cell *matCellDef="let appointment" class="row-cell">{{ appointment.windowLength | minutes }}</td>
        </ng-container>
        <ng-container matColumnDef="customerNotes">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Customer Notes</th>
          <td mat-cell *matCellDef="let appointment" class="row-cell">{{ appointment.customerNotes | ellipsis:25 }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Appt. Status</th>
          <td mat-cell *matCellDef="let appointment" class="row-cell">{{ statuses?.get(appointment.id).display }}</td>
        </ng-container>
      
        <tr mat-header-row class="top-radius header" *matHeaderRowDef="displayedFields"></tr>
        <tr mat-row class="selectable row" [ngClass]="{ 'selected': selected.includes(i), 'selectable': !selected.includes(i) }" (click)="onRowClick(i)" *matRowDef="let appointment; columns: displayedFields; let i=index"></tr>
        <!-- <mat-paginator #paginatorEle [length]="this.dataSource?.data?.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator> -->
      </table>
    </div>
</div>

<mat-menu #viewMenu="matMenu">
  <button mat-menu-item [disabled]="view === 'list'" (click)="setView('list')">
    <mat-icon>list</mat-icon>
    <span>Appointments List</span>
  </button>
  <button mat-menu-item [disabled]="view === 'calendar'" (click)="setView('calendar')">
    <mat-icon>calendar_month</mat-icon>
    <span>Calendar</span>
  </button>
</mat-menu>
