@import '~@angular/material/theming';

.input-sm { 
  font-size: .8em;
  margin: 8px 0 0 12px;
}

.table {
  width: 100%;
  background-color: mat-color($mat-light-theme-background, card);
  
  .header {
    background: darken(mat-color($mat-light-theme-background, card), 3%);
    border-bottom: 2px darken(mat-color($mat-light-theme-background, card), 20%) solid;
    border-top: none;
  }

  .header-cell {
    font-weight: 600;
    font-size: 1em;
  }

  .selectable {
    transition: all .5s;
  }
  
  .selectable:nth-child(odd) {
    background: darken(mat-color($mat-light-theme-background, card), 3%);
  }
  
  .selectable:hover {
    @include mat-elevation(2);
    background: darken(mat-color($mat-light-theme-background, card), 10%);
  }
  
  .selected {
    background: darken(mat-color($mat-light-theme-background, card), 15%);
  }

  .footer {
    background: darken(mat-color($mat-light-theme-background, card), 3%);
    border-top: 1px darken(mat-color($mat-light-theme-background, card), 20%) solid;
    border-bottom: none;
  }
}

.bottom-radius {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.top-radius {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.all-radius {
  border-radius: 4px;
}
