<div>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Street Address</mat-label>
    <input matInput [formControl]="form.controls.streetAddr">
    <mat-error *ngIf="form.controls.streetAddr.invalid && form.controls.streetAddr.touched">Invalid street address</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline" class="input">
    <mat-label>City</mat-label>
    <input matInput [formControl]="form.controls.city">
    <mat-error *ngIf="form.controls.city.invalid && form.controls.city.touched">Invalid city</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Select an option</mat-label>
    <mat-select  [formControl]="form.controls.state">
      <mat-option disabled [value]="null">Select One</mat-option>
      <mat-option value="FL">Florida</mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.state.invalid && form.controls.state.touched">Invalid state</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Zip Code</mat-label>
    <input matInput [formControl]="form.controls.zip">
    <mat-error *ngIf="form.controls.zip.invalid && form.controls.zip.touched">Invalid zip code</mat-error>
  </mat-form-field>
</div>