<div *ngIf="hasClients" class="client-container">
  <mat-table class="all-radius table mat-elevation-z2" [dataSource]="dataSource">
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef class="header-cell">Full Name</mat-header-cell>
      <mat-cell *matCellDef="let client" class="row-cell">{{ client.firstName }} {{ client.lastName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef class="header-cell">Type</mat-header-cell>
      <mat-cell *matCellDef="let client" class="row-cell">{{ client.type }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="primaryTel">
      <mat-header-cell *matHeaderCellDef class="header-cell">Primary Tel</mat-header-cell>
      <mat-cell *matCellDef="let client" class="row-cell">
        <ng-container *ngIf="client.primaryPhoneNum && device.isDesktop">
          <a href="tel:{{ client.primaryPhoneNum }}" (click)="$event.stopPropagation();">{{ client.primaryPhoneNum }}</a>
        </ng-container>
        <ng-container *ngIf="client.primaryPhoneNum && (device.isTablet || device.isMobile)">
          <a href="tel:{{ client.primaryPhoneNum }}" (click)="$event.stopPropagation();"><mat-icon>phone</mat-icon></a>
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="secondaryTel">
      <mat-header-cell *matHeaderCellDef class="header-cell">Secondary Tel</mat-header-cell>
      <mat-cell *matCellDef="let client" class="row-cell">
        <ng-container *ngIf="client.secondaryPhoneNum && device.isDesktop">
          <a href="tel:{{ client.secondaryPhoneNum }}" (click)="$event.stopPropagation();">{{ client.secondaryPhoneNum }}</a>
        </ng-container>
        <ng-container *ngIf="client.secondaryPhoneNum && (device.isTablet || device.isMobile)">
          <a href="tel:{{ client.secondaryPhoneNum }}" (click)="$event.stopPropagation();"><mat-icon>phone</mat-icon></a>
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef class="header-cell">Email</mat-header-cell>
      <mat-cell *matCellDef="let client" class="row-cell">
        <ng-container *ngIf="client.email && device.isDesktop">
          <a href="mailto:{{ client.email }}" (click)="$event.stopPropagation();">{{ client.email }}</a>
        </ng-container>
        <ng-container *ngIf="client.email &&  (device.isTablet || device.isMobile)">
          <a href="mailto:{{ client.email }}" (click)="$event.stopPropagation();"><mat-icon>email</mat-icon></a>
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="serviceAddr">
      <mat-header-cell *matHeaderCellDef class="header-cell">Service Addr</mat-header-cell>
      <mat-cell *matCellDef="let client" class="row-cell">
        <ng-container *ngIf="device.isDesktop">
          <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ addresses.get(client.id).sa | encodeUri }}">
            {{ addresses.get(client.id)['sa'] }}
          </a>
        </ng-container>
        <ng-container *ngIf="(device.isTablet || device.isMobile)">
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="billingAddr">
      <mat-header-cell *matHeaderCellDef class="header-cell">Billing Addr</mat-header-cell>
      <mat-cell *matCellDef="let client" class="row-cell">
        <ng-container *ngIf="device.isDesktop">
          <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ addresses.get(client.id).ba | encodeUri }}">
            {{ addresses.get(client.id)['ba'] }}
          </a>
        </ng-container>
        <ng-container *ngIf="(device.isTablet || device.isMobile)">
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="processor">
      <mat-header-cell *matHeaderCellDef class="header-cell">Processor</mat-header-cell>
      <mat-cell *matCellDef="let client" class="row-cell">{{ client.processor }}</mat-cell>
    </ng-container>

    <mat-header-row class="top-radius header" *matHeaderRowDef="displayedFields"></mat-header-row>
    <mat-row class="selectable row" [ngClass]="{ 'selected': selected.includes(i), 'selectable': !selected.includes(i) }" (click)="onRowClick(i)" *matRowDef="let client; columns: displayedFields; let i=index"></mat-row>
    <!-- <mat-footer-row class="bottom-radius footer" *matFooterRowDef="displayedFields"></mat-footer-row> -->
  </mat-table>
</div>
<div *ngIf="!hasClients">No clients found!</div>
